In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, precision_recall_curve, auc
import matplotlib.pyplot as plt
from tensorflow.keras import optimizers

In [30]:
# Read dataset
pdata = pd.read_csv("bank.csv")
pdata.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [31]:
pdata.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [32]:
# Drop the columns which are unique for all users
pdata = pdata.drop(["RowNumber", "CustomerId", "Surname"], axis = 1)
pdata.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [34]:
pdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [35]:
# Convert categorical variables
pdata = pd.get_dummies(pdata, columns=['Geography'])
pdata = pd.get_dummies(pdata, columns=['Gender'])
pdata.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

In [36]:
# Distinguish the features and target variable
X =  pdata.drop(['Exited'], axis=1)
Y = pdata["Exited"]

In [37]:
# Normalize the train and test data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 7)

X_train = preprocessing.normalize(X_train)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)
# Feature scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

(8000, 13)
(2000, 13)
(8000,)
(2000,)

In [38]:
# Initialize & build the model
model_classifier = Sequential()

# Add 2 hidden layers
model_classifier.add(Dense(16 ,activation='relu',input_dim = 13))
model_classifier.add(Dense(16,activation='tanh'))

# Add output layer
model_classifier.add(Dense(1, activation='sigmoid'))

In [42]:
model_classifier.compile(optimizer='sgd', loss='binary_crossentropy',  metrics = ['accuracy'])
model_classifier.summary()

# model is trained over 100 epochs
model_classifier.fit(X_train,Y_train,epochs=100,validation_data=(X_test,Y_test),batch_size=X_train.shape[0])

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 16)                224
_________________________________________________________________
dense_4 (Dense)              (None, 16)                272
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 17
=================================================================
Total params: 513
Trainable params: 513
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
1/1 [==============================] - 0s 135ms/step - loss: 0.7235 - accuracy: 0.4320 - val_loss: 0.7643 - val_accuracy: 0.5000
Epoch 2/100
1/1 [==============================] - 0s 43ms/step - loss: 0.7199 - accuracy: 0.4378 - val_loss: 0.7620 - val_accuracy: 0.5015
Epoch 3/100
1/1 [==============================] - 0s 36ms/step - loss: 0.7163 - accuracy: 0.4448 - val_loss: 0.7595 - val_accuracy: 0.5025
Epoch 4/100
1/1 [==============================] - 0s 38ms/step - loss: 0.7129 - accuracy: 0.4485 - val_loss: 0.7572 - val_accuracy: 0.5035
Epoch 5/100
1/1 [==============================] - 0s 40ms/step - loss: 0.7095 - accuracy: 0.4551 - val_loss: 0.7522 - val_accuracy: 0.5060
Epoch 6/100
1/1 [==============================] - 0s 48ms/step - loss: 0.7062 - accuracy: 0.4614 - val_loss: 0.7495 - val_accuracy: 0.5085
Epoch 7/100
1/1 [==============================] - 0s 39ms/step - loss: 0.7029 - accuracy: 0.4685 - val_loss: 0.7468 - val_accuracy: 0.5105
Epoch 8/100
1/1 [==============================] - 0s 39ms/step - loss: 0.6997 - accuracy: 0.4780 - val_loss: 0.7432 - val_accuracy: 0.5150
Epoch 9/100
1/1 [==============================] - 0s 41ms/step - loss: 0.6966 - accuracy: 0.4830 - val_loss: 0.7405 - val_accuracy: 0.5195
Epoch 10/100
1/1 [==============================] - 0s 45ms/step - loss: 0.6936 - accuracy: 0.4908 - val_loss: 0.7372 - val_accuracy: 0.5265
Epoch 11/100
1/1 [==============================] - 0s 51ms/step - loss: 0.6906 - accuracy: 0.4966 - val_loss: 0.7335 - val_accuracy: 0.5320
Epoch 12/100
1/1 [==============================] - 0s 56ms/step - loss: 0.6876 - accuracy: 0.5046 - val_loss: 0.7305 - val_accuracy: 0.5395
Epoch 13/100
1/1 [==============================] - 0s 50ms/step - loss: 0.6848 - accuracy: 0.5120 - val_loss: 0.7264 - val_accuracy: 0.5460
Epoch 14/100
1/1 [==============================] - 0s 50ms/step - loss: 0.6820 - accuracy: 0.5209 - val_loss: 0.7216 - val_accuracy: 0.6340
Epoch 15/100
1/1 [==============================] - 0s 62ms/step - loss: 0.6792 - accuracy: 0.5296 - val_loss: 0.7186 - val_accuracy: 0.6410
Epoch 16/100
1/1 [==============================] - 0s 45ms/step - loss: 0.6765 - accuracy: 0.5416 - val_loss: 0.7157 - val_accuracy: 0.6485
Epoch 17/100
1/1 [==============================] - 0s 49ms/step - loss: 0.6739 - accuracy: 0.5545 - val_loss: 0.7129 - val_accuracy: 0.6535
Epoch 18/100
1/1 [==============================] - 0s 50ms/step - loss: 0.6713 - accuracy: 0.5707 - val_loss: 0.7092 - val_accuracy: 0.6600
Epoch 19/100
1/1 [==============================] - 0s 70ms/step - loss: 0.6687 - accuracy: 0.5935 - val_loss: 0.7076 - val_accuracy: 0.6635
Epoch 20/100
1/1 [==============================] - 0s 54ms/step - loss: 0.6662 - accuracy: 0.6143 - val_loss: 0.7042 - val_accuracy: 0.6705
Epoch 21/100
1/1 [==============================] - 0s 57ms/step - loss: 0.6638 - accuracy: 0.6321 - val_loss: 0.7006 - val_accuracy: 0.6765
Epoch 22/100
1/1 [==============================] - 0s 45ms/step - loss: 0.6614 - accuracy: 0.6474 - val_loss: 0.6988 - val_accuracy: 0.6805
Epoch 23/100
1/1 [==============================] - 0s 44ms/step - loss: 0.6591 - accuracy: 0.6746 - val_loss: 0.6958 - val_accuracy: 0.6840
Epoch 24/100
1/1 [==============================] - 0s 43ms/step - loss: 0.6568 - accuracy: 0.7029 - val_loss: 0.6937 - val_accuracy: 0.6880
Epoch 25/100
1/1 [==============================] - 0s 52ms/step - loss: 0.6545 - accuracy: 0.7274 - val_loss: 0.6914 - val_accuracy: 0.7450
Epoch 26/100
1/1 [==============================] - 0s 154ms/step - loss: 0.6523 - accuracy: 0.7431 - val_loss: 0.6893 - val_accuracy: 0.7460
Epoch 27/100
1/1 [==============================] - 0s 40ms/step - loss: 0.6501 - accuracy: 0.7542 - val_loss: 0.6871 - val_accuracy: 0.7465
Epoch 28/100
1/1 [==============================] - 0s 45ms/step - loss: 0.6480 - accuracy: 0.7601 - val_loss: 0.6842 - val_accuracy: 0.7480
Epoch 29/100
1/1 [==============================] - 0s 42ms/step - loss: 0.6459 - accuracy: 0.7653 - val_loss: 0.6828 - val_accuracy: 0.7485
Epoch 30/100
1/1 [==============================] - 0s 40ms/step - loss: 0.6439 - accuracy: 0.7703 - val_loss: 0.6812 - val_accuracy: 0.7500
Epoch 31/100
1/1 [==============================] - 0s 45ms/step - loss: 0.6419 - accuracy: 0.7736 - val_loss: 0.6797 - val_accuracy: 0.7510
Epoch 32/100
1/1 [==============================] - 0s 39ms/step - loss: 0.6399 - accuracy: 0.7751 - val_loss: 0.6791 - val_accuracy: 0.7510
Epoch 33/100
1/1 [==============================] - 0s 41ms/step - loss: 0.6380 - accuracy: 0.7774 - val_loss: 0.6773 - val_accuracy: 0.7525
Epoch 34/100
1/1 [==============================] - 0s 41ms/step - loss: 0.6361 - accuracy: 0.7785 - val_loss: 0.6761 - val_accuracy: 0.7535
Epoch 35/100
1/1 [==============================] - 0s 48ms/step - loss: 0.6342 - accuracy: 0.7797 - val_loss: 0.6748 - val_accuracy: 0.7535
Epoch 36/100
1/1 [==============================] - 0s 38ms/step - loss: 0.6324 - accuracy: 0.7810 - val_loss: 0.6727 - val_accuracy: 0.7550
Epoch 37/100
1/1 [==============================] - 0s 39ms/step - loss: 0.6306 - accuracy: 0.7816 - val_loss: 0.6712 - val_accuracy: 0.7555
Epoch 38/100
1/1 [==============================] - 0s 45ms/step - loss: 0.6289 - accuracy: 0.7830 - val_loss: 0.6696 - val_accuracy: 0.7560
Epoch 39/100
1/1 [==============================] - 0s 54ms/step - loss: 0.6272 - accuracy: 0.7836 - val_loss: 0.6682 - val_accuracy: 0.7580
Epoch 40/100
1/1 [==============================] - 0s 47ms/step - loss: 0.6255 - accuracy: 0.7839 - val_loss: 0.6658 - val_accuracy: 0.7600
Epoch 41/100
1/1 [==============================] - 0s 43ms/step - loss: 0.6238 - accuracy: 0.7841 - val_loss: 0.6642 - val_accuracy: 0.7615
Epoch 42/100
1/1 [==============================] - 0s 47ms/step - loss: 0.6222 - accuracy: 0.7844 - val_loss: 0.6633 - val_accuracy: 0.7620
Epoch 43/100
1/1 [==============================] - 0s 41ms/step - loss: 0.6206 - accuracy: 0.7846 - val_loss: 0.6620 - val_accuracy: 0.7630
Epoch 44/100
1/1 [==============================] - 0s 53ms/step - loss: 0.6190 - accuracy: 0.7850 - val_loss: 0.6615 - val_accuracy: 0.7635
Epoch 45/100
1/1 [==============================] - 0s 56ms/step - loss: 0.6175 - accuracy: 0.7855 - val_loss: 0.6609 - val_accuracy: 0.7635
Epoch 46/100
1/1 [==============================] - 0s 61ms/step - loss: 0.6160 - accuracy: 0.7856 - val_loss: 0.6597 - val_accuracy: 0.7650
Epoch 47/100
1/1 [==============================] - 0s 59ms/step - loss: 0.6145 - accuracy: 0.7855 - val_loss: 0.6581 - val_accuracy: 0.7650
Epoch 48/100
1/1 [==============================] - 0s 60ms/step - loss: 0.6130 - accuracy: 0.7856 - val_loss: 0.6568 - val_accuracy: 0.7660
Epoch 49/100
1/1 [==============================] - 0s 63ms/step - loss: 0.6116 - accuracy: 0.7859 - val_loss: 0.6549 - val_accuracy: 0.7665
Epoch 50/100
1/1 [==============================] - 0s 63ms/step - loss: 0.6102 - accuracy: 0.7861 - val_loss: 0.6539 - val_accuracy: 0.7670
Epoch 51/100
1/1 [==============================] - 0s 67ms/step - loss: 0.6088 - accuracy: 0.7866 - val_loss: 0.6531 - val_accuracy: 0.7675
Epoch 52/100
1/1 [==============================] - 0s 52ms/step - loss: 0.6074 - accuracy: 0.7870 - val_loss: 0.6520 - val_accuracy: 0.7680
Epoch 53/100
1/1 [==============================] - 0s 62ms/step - loss: 0.6061 - accuracy: 0.7875 - val_loss: 0.6511 - val_accuracy: 0.7690
Epoch 54/100
1/1 [==============================] - 0s 60ms/step - loss: 0.6048 - accuracy: 0.7878 - val_loss: 0.6496 - val_accuracy: 0.7700
Epoch 55/100
1/1 [==============================] - 0s 71ms/step - loss: 0.6035 - accuracy: 0.7878 - val_loss: 0.6480 - val_accuracy: 0.7705
Epoch 56/100
1/1 [==============================] - 0s 61ms/step - loss: 0.6022 - accuracy: 0.7883 - val_loss: 0.6469 - val_accuracy: 0.7710
Epoch 57/100
1/1 [==============================] - 0s 49ms/step - loss: 0.6010 - accuracy: 0.7884 - val_loss: 0.6467 - val_accuracy: 0.7715
Epoch 58/100
1/1 [==============================] - 0s 41ms/step - loss: 0.5998 - accuracy: 0.7886 - val_loss: 0.6455 - val_accuracy: 0.7715
Epoch 59/100
1/1 [==============================] - 0s 47ms/step - loss: 0.5986 - accuracy: 0.7887 - val_loss: 0.6450 - val_accuracy: 0.7710
Epoch 60/100
1/1 [==============================] - 0s 43ms/step - loss: 0.5974 - accuracy: 0.7889 - val_loss: 0.6441 - val_accuracy: 0.7710
Epoch 61/100
1/1 [==============================] - 0s 46ms/step - loss: 0.5962 - accuracy: 0.7890 - val_loss: 0.6433 - val_accuracy: 0.7710
Epoch 62/100
1/1 [==============================] - 0s 49ms/step - loss: 0.5951 - accuracy: 0.7889 - val_loss: 0.6432 - val_accuracy: 0.7710
Epoch 63/100
1/1 [==============================] - 0s 46ms/step - loss: 0.5940 - accuracy: 0.7889 - val_loss: 0.6420 - val_accuracy: 0.7725
Epoch 64/100
1/1 [==============================] - 0s 50ms/step - loss: 0.5929 - accuracy: 0.7889 - val_loss: 0.6413 - val_accuracy: 0.7735
Epoch 65/100
1/1 [==============================] - 0s 45ms/step - loss: 0.5918 - accuracy: 0.7887 - val_loss: 0.6411 - val_accuracy: 0.7740
Epoch 66/100
1/1 [==============================] - 0s 40ms/step - loss: 0.5907 - accuracy: 0.7891 - val_loss: 0.6404 - val_accuracy: 0.7740
Epoch 67/100
1/1 [==============================] - 0s 41ms/step - loss: 0.5897 - accuracy: 0.7893 - val_loss: 0.6397 - val_accuracy: 0.7740
Epoch 68/100
1/1 [==============================] - 0s 42ms/step - loss: 0.5887 - accuracy: 0.7893 - val_loss: 0.6391 - val_accuracy: 0.7740
Epoch 69/100
1/1 [==============================] - 0s 44ms/step - loss: 0.5876 - accuracy: 0.7896 - val_loss: 0.6381 - val_accuracy: 0.7745
Epoch 70/100
1/1 [==============================] - 0s 47ms/step - loss: 0.5866 - accuracy: 0.7896 - val_loss: 0.6379 - val_accuracy: 0.7750
Epoch 71/100
1/1 [==============================] - 0s 41ms/step - loss: 0.5857 - accuracy: 0.7897 - val_loss: 0.6371 - val_accuracy: 0.7750
Epoch 72/100
1/1 [==============================] - 0s 42ms/step - loss: 0.5847 - accuracy: 0.7899 - val_loss: 0.6368 - val_accuracy: 0.7750
Epoch 73/100
1/1 [==============================] - 0s 38ms/step - loss: 0.5838 - accuracy: 0.7900 - val_loss: 0.6363 - val_accuracy: 0.7745
Epoch 74/100
1/1 [==============================] - 0s 55ms/step - loss: 0.5828 - accuracy: 0.7901 - val_loss: 0.6359 - val_accuracy: 0.7745
Epoch 75/100
1/1 [==============================] - 0s 51ms/step - loss: 0.5819 - accuracy: 0.7903 - val_loss: 0.6354 - val_accuracy: 0.7745
Epoch 76/100
1/1 [==============================] - 0s 41ms/step - loss: 0.5810 - accuracy: 0.7904 - val_loss: 0.6350 - val_accuracy: 0.7745
Epoch 77/100
1/1 [==============================] - 0s 44ms/step - loss: 0.5801 - accuracy: 0.7905 - val_loss: 0.6350 - val_accuracy: 0.7745
Epoch 78/100
1/1 [==============================] - 0s 39ms/step - loss: 0.5792 - accuracy: 0.7905 - val_loss: 0.6345 - val_accuracy: 0.7750
Epoch 79/100
1/1 [==============================] - 0s 39ms/step - loss: 0.5784 - accuracy: 0.7910 - val_loss: 0.6336 - val_accuracy: 0.7745
Epoch 80/100
1/1 [==============================] - 0s 46ms/step - loss: 0.5775 - accuracy: 0.7911 - val_loss: 0.6333 - val_accuracy: 0.7745
Epoch 81/100
1/1 [==============================] - 0s 51ms/step - loss: 0.5767 - accuracy: 0.7911 - val_loss: 0.6330 - val_accuracy: 0.7745
Epoch 82/100
1/1 [==============================] - 0s 46ms/step - loss: 0.5759 - accuracy: 0.7911 - val_loss: 0.6324 - val_accuracy: 0.7745
Epoch 83/100
1/1 [==============================] - 0s 51ms/step - loss: 0.5751 - accuracy: 0.7911 - val_loss: 0.6319 - val_accuracy: 0.7745
Epoch 84/100
1/1 [==============================] - 0s 46ms/step - loss: 0.5743 - accuracy: 0.7911 - val_loss: 0.6316 - val_accuracy: 0.7745
Epoch 85/100
1/1 [==============================] - 0s 45ms/step - loss: 0.5735 - accuracy: 0.7914 - val_loss: 0.6310 - val_accuracy: 0.7750
Epoch 86/100
1/1 [==============================] - 0s 45ms/step - loss: 0.5727 - accuracy: 0.7915 - val_loss: 0.6305 - val_accuracy: 0.7755
Epoch 87/100
1/1 [==============================] - 0s 44ms/step - loss: 0.5719 - accuracy: 0.7915 - val_loss: 0.6302 - val_accuracy: 0.7755
Epoch 88/100
1/1 [==============================] - 0s 45ms/step - loss: 0.5712 - accuracy: 0.7916 - val_loss: 0.6298 - val_accuracy: 0.7755
Epoch 89/100
1/1 [==============================] - 0s 44ms/step - loss: 0.5705 - accuracy: 0.7918 - val_loss: 0.6297 - val_accuracy: 0.7750
Epoch 90/100
1/1 [==============================] - 0s 39ms/step - loss: 0.5697 - accuracy: 0.7919 - val_loss: 0.6295 - val_accuracy: 0.7750
Epoch 91/100
1/1 [==============================] - 0s 43ms/step - loss: 0.5690 - accuracy: 0.7920 - val_loss: 0.6292 - val_accuracy: 0.7760
Epoch 92/100
1/1 [==============================] - 0s 88ms/step - loss: 0.5683 - accuracy: 0.7920 - val_loss: 0.6283 - val_accuracy: 0.7760
Epoch 93/100
1/1 [==============================] - 0s 54ms/step - loss: 0.5676 - accuracy: 0.7921 - val_loss: 0.6281 - val_accuracy: 0.7760
Epoch 94/100
1/1 [==============================] - 0s 42ms/step - loss: 0.5669 - accuracy: 0.7921 - val_loss: 0.6282 - val_accuracy: 0.7760
Epoch 95/100
1/1 [==============================] - 0s 49ms/step - loss: 0.5663 - accuracy: 0.7922 - val_loss: 0.6277 - val_accuracy: 0.7765
Epoch 96/100
1/1 [==============================] - 0s 49ms/step - loss: 0.5656 - accuracy: 0.7922 - val_loss: 0.6274 - val_accuracy: 0.7770
Epoch 97/100
1/1 [==============================] - 0s 39ms/step - loss: 0.5649 - accuracy: 0.7922 - val_loss: 0.6264 - val_accuracy: 0.7770
Epoch 98/100
1/1 [==============================] - 0s 46ms/step - loss: 0.5643 - accuracy: 0.7922 - val_loss: 0.6258 - val_accuracy: 0.7775
Epoch 99/100
1/1 [==============================] - 0s 45ms/step - loss: 0.5636 - accuracy: 0.7922 - val_loss: 0.6254 - val_accuracy: 0.7775
Epoch 100/100
1/1 [==============================] - 0s 43ms/step - loss: 0.5630 - accuracy: 0.7925 - val_loss: 0.6253 - val_accuracy: 0.7770

In [43]:
Y_pred = model_classifier.predict(X_test)

In [45]:
results = model_classifier.evaluate(X_test, Y_test.values)

63/63 [==============================] - 0s 1ms/step - loss: 0.6253 - accuracy: 0.7770

In [46]:
print(model_classifier.metrics_names)
print(results)

['loss', 'accuracy']
[0.6253044009208679, 0.7770000100135803]

In [47]:
# Confusion Matrix
Y_pred_cls = model_classifier.predict_classes(X_test, batch_size=200, verbose=0)
print('Accuracy Model1 (Dropout): '+ str(model_classifier.evaluate(X_test,Y_test.values)[1]))
print('Recall_score: ' + str(recall_score(Y_test.values,Y_pred_cls)))
print('Precision_score: ' + str(precision_score(Y_test.values, Y_pred_cls)))
print('F-score: ' + str(f1_score(Y_test.values,Y_pred_cls)))
confusion_matrix(Y_test.values, Y_pred_cls)

63/63 [==============================] - 0s 1ms/step - loss: 0.6253 - accuracy: 0.7770
Accuracy Model1 (Dropout): 0.7770000100135803
Recall_score: 0.014598540145985401
Precision_score: 0.1276595744680851
F-score: 0.026200873362445413

array([[1548,   41],
       [ 405,    6]])