In [14]:
#Import the datasets and libraries, check datatype, statistical summary,shape,null values or incorrect imputation.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# Load data
pdata = pd.read_csv('Bank_Personal_Loan_Modelling.csv')
# Check datatype
pdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
ZIP Code              5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [10]:
# View top 5 rows
pdata.head()

   ID  Age  Experience     ...      CD Account  Online  CreditCard
0   1   25           1     ...               0       0           0
1   2   45          19     ...               0       0           0
2   3   39          15     ...               0       0           0
3   4   35           9     ...               0       0           0
4   5   35           8     ...               0       0           1

[5 rows x 14 columns]

In [12]:
# Statistical summary
pdata.describe()

                ID          Age     ...            Online   CreditCard
count  5000.000000  5000.000000     ...       5000.000000  5000.000000
mean   2500.500000    45.338400     ...          0.596800     0.294000
std    1443.520003    11.463166     ...          0.490589     0.455637
min       1.000000    23.000000     ...          0.000000     0.000000
25%    1250.750000    35.000000     ...          0.000000     0.000000
50%    2500.500000    45.000000     ...          1.000000     0.000000
75%    3750.250000    55.000000     ...          1.000000     1.000000
max    5000.000000    67.000000     ...          1.000000     1.000000

[8 rows x 14 columns]

In [13]:
# Check null data
pdata.isnull().values.any()

(5000, 14)

In [ ]:
# Check shape of data
pdata.shape

In [15]:
# EDA. Number of unique in each column
unique_values = pdata.nunique()
print('Count unique values in each column')
print(unique_values)

Count unique values in each column
ID                    5000
Age                     45
Experience              47
Income                 162
ZIP Code               467
Family                   4
CCAvg                  108
Education                3
Mortgage               347
Personal Loan            2
Securities Account       2
CD Account               2
Online                   2
CreditCard               2
dtype: int64

In [16]:
# EDA. Number of people with zero mortgage
total_zero_mortgage_people = len(pdata.loc[pdata['Mortgage'] == 0])
print(f'Total number of people with zero mortgage: {total_zero_mortgage_people}')

3462

In [19]:
# EDA. Number of people with zero credit card spending per month
total_zero_spending_cc_people = len(pdata.loc[pdata['CCAvg'] == 10])
print(f'Total number of people with zero credit card spending per month: {total_zero_spending_cc_people}')

Total number of people with zero credit card spending per month: 3